<!-- HTML for static distribution bundle build -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>LoopBack API Explorer</title>
    <link rel="stylesheet" type="text/css" href="./swagger-ui.css" />
    <link
      rel="icon"
      type="image/png"
      href="./favicon-32x32.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      type="image/png"
      href="./favicon-16x16.png"
      sizes="16x16"
    />
    <style>
      html {
        box-sizing: border-box;
        overflow: -moz-scrollbars-vertical;
        overflow-y: scroll;
      }

      *,
      *:before,
      *:after {
        box-sizing: inherit;
      }

      body {
        margin: 0;
        background: #fafafa;
      }
    </style>
  </head>

  <body>
    <div id="swagger-ui"></div>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="./swagger-ui-bundle.js"></script>
    <script src="./swagger-ui-standalone-preset.js"></script>
    <script>
      window.onload = function() {
        // Build a system
        const ui = SwaggerUIBundle({
          url: '<%- openApiSpecUrl %>',
          dom_id: '#swagger-ui',
          deepLinking: true,
          filter: true,
          defaultModelsExpandDepth: 0,
          defaultModelExpandDepth: 0,
          requestInterceptor: function(request) {
            console.log('[Swagger] intercept try-it-out request');
            request.headers.Authorization = 'Bearer ' + window.token;
            return request;
          },
          presets: [
            SwaggerUIBundle.presets.apis,
            // SwaggerUIStandalonePreset
            SwaggerUIStandalonePreset.slice(1), // Disable the top bar
          ],
          plugins: [SwaggerUIBundle.plugins.DownloadUrl],
          layout: 'StandaloneLayout',
        });

        window.ui = ui;

        (function() {
          var storageKey = 'jwt:key';
          $(function() {
            setTimeout(() => {
              var key = localStorage.getItem(storageKey) || '';
              window.token = key;
              $('hgroup').append(
                "<input type='text' style='width:100%' value='" +
                  key +
                  "' class='operation-filter-input' id='input_apiKey' placeholder='Access Token' />",
              );
              $('#input_apiKey').change(addApiKeyAuthorization);
            }, 100);
          });

          function addApiKeyAuthorization() {
            var key = encodeURIComponent($('#input_apiKey')[0].value);
            if (key && key.trim() != '') {
              window.token = key;
              localStorage.setItem(storageKey, key);
            }
          }
        })();
      };
    </script>
  </body>
</html>
